*{
    margin: 0;
    padding: 0;
}


body { 
  min-height: 100vh;
  background: url(tempbg3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu nav{
    background-color: rgb(6, 9, 72);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgb(6, 9, 72, 0.7);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu li{
    height: 50px;
    width: 100%;
}

.menu a{
    height: 100%;
    padding: 0 15px;
    border-radius: 7px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu a:hover{
    background-color: #e9e9ff;
    color: rgb(9, 1, 44);
    transition: all 0.3s ease-in-out;
}

li:hover #menuicon3{
    color: rgb(0, 1, 43);
    transition: all 0.3s ease-in-out;
}

.menu .bm{
    justify-content: flex-end;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white

}

a{
    color: rgb(255, 255, 255);
}

#centeredelements {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbutton{
    background: #ffffff;
    color: rgb(0, 0, 0);
    line-height: 48px;
    width: 155px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    border-width: 0px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 2em;
    cursor: pointer;
}

#settings button{
    font-size: 1rem;
    border-radius: 4px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

#controls button{
    background: none;
    border: none;
    padding: 0;
} 

#display{
    font-size: 8rem;
    color: black;
    text-align: center;
}

#clock {
    background: rgba(255, 255, 255);
    border-radius: 40px;
    width: 535px;
    height: 170px;
    font-size: 8rem;
    color: black;
    text-align: center;
}

#introtext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 40;
    font-size: 60px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

#reseticon{
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' -200,
    'opsz' 40;
    font-size: 60px;
}

#menuicon{
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

#menuicon2{
    color: rgb(255, 255, 255);
}

#Headertext{
    margin-top: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#menuicon3{
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' -200,
    'opsz' 40;
    font-size: 30px;
    margin-right: 40px;
    left: 0;
}

#topmenu{
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 10px;
}

#items{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#items img{
    width: 85%;
    margin: 3vh;
    margin-bottom: 1vh;
    margin-top: 2vh; 
    border-radius: 9px;
    border: 0.5vh solid rgba(182, 182, 211);
}

.buttonitem{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(7, 7, 110),rgb(255, 255, 255, 0.2));
    width: 35vh;
    height: 25vh;
    border-radius: 10px;
    margin: 3vw;
    box-shadow: 0px 10px 0px rgba(182, 182, 211, 0.9);
    backdrop-filter: blur(3.3px);
    border: none;
}

.buttonitem:active {
  box-shadow: 0px 5px 0px rgba(105, 105, 121, 0.9);
  transform: translateY(4px);
}

.shopbutton{
    background-image: #caddff;
    color: rgb(0, 0, 0);
    line-height: 48px;
    width: 30vh;
    height: 5vh;
    min-height: 40px;
    text-align:center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    border-width: 0px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}