*{
    margin: 0;
    padding: 0;
}


html { 
  min-height: 100vh;
  background: url(tempbg3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.menu nav{
    background-color: rgb(6, 9, 72);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgb(6, 9, 72, 0.7);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu li{
    height: 50px;
    width: 100%;
}

.menu a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu a:hover{
    background-color: #c7c8f7;
    color: black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white

}

a{
    color: rgb(255, 255, 255);
}

#centeredelements {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#topbutton button{
    background: #ffffff;
    color: rgb(0, 0, 0);
    line-height: 48px;
    width: 155px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    border-width: 0px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 2em;
    cursor: pointer;
}

#settings button{
    font-size: 1rem;
    border-radius: 4px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

#controls button{
    background: none;
    border: none;
    padding: 0;
} 

#display{
    font-size: 8rem;
    color: black;
    text-align: center;
}

#clock {
    background: rgba(255, 255, 255);
    border-radius: 40px;
    width: 535px;
    height: 170px;
}

#introtext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 40;
    font-size: 60px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

#reseticon{
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' -200,
    'opsz' 40;
    font-size: 60px;
}

#menuicon{
    display: flex;
    color: rgb(6, 9, 72)
}

#Headertext{
    display:flex;
    flex-direction: column;
    align-items: center;
}